# Machine Learning in Python - Project 1

Due Friday, March 6th by 5 pm.

## 1. Setup

### 1.1 Libraries

In [1]:
# Add any additional libraries or submodules below

# Display plots inline
%matplotlib inline

# Data libraries
import pandas as pd
import numpy as np

# Plotting libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Plotting defaults
plt.rcParams['figure.figsize'] = (8,5)
plt.rcParams['figure.dpi'] = 80

# sklearn modules
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score, KFold
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, KBinsDiscretizer
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
import time

### 1.2 Data

In [2]:
sales = pd.read_csv("sales.csv")
sales_test = pd.read_csv("sales_test.csv")

## 2. Exploratory Data Analysis and Preprocessing

*Include a discussion of the data with a particular emphasis on the features of the data that are relevant for the subsequent modeling. Including visualizations of the data is strongly encouraged - all code and plots must also be described in the write up.*

*In this section you should also implement and describe any preprocessing / transformations of the features. Hint - you should not be modeling this data without transforming some of the features, e.g. modeling sale price directly is not a good idea.*

### 2.1 A glimpse on the dataset.

Looking at a few rows in the dataset.

In [3]:
sales

,sale_price,year_sold,year_built,lot_area,basement_area,living_area,full_bath,half_bath,bedroom,garage_cars,garage_area,ac,zoning,neighborhood,quality,condition
0,244000,2010,1968,11160,2110,2110,2,1,3,2,522,Y,Residential_Low_Density,nb_07,good,average
1,189900,2010,1997,13830,928,1629,2,1,3,2,482,Y,Residential_Low_Density,nb_22,average,average
2,191500,2010,1992,5005,1280,1280,2,0,2,2,506,Y,Residential_Low_Density,nb_10,good,average
3,236500,2010,1995,5389,1595,1616,2,0,2,2,608,Y,Residential_Low_Density,nb_10,good,average
4,189000,2010,1999,7500,994,1804,2,1,3,2,442,Y,Residential_Low_Density,nb_22,good,average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579,79500,2006,1970,1526,546,1092,1,1,3,0,0,Y,Residential_Medium_Density,nb_02,average,average
1580,160000,2006,1977,17400,1126,1126,2,0,3,2,484,Y,Residential_Low_Density,nb_20,average,average
1581,142500,2006,1984,7937,1003,1003,1,0,3,2,588,Y,Residential_Low_Density,nb_20,average,average
1582,132000,2006,1992,10441,912,970,1,0,3,0,0,Y,Residential_Low_Density,nb_20,average,average
1583,170000,2006,1974,10010,1389,1389,1,0,2,2,418,Y,Residential_Low_Density,nb_20,average,average

Take a look at the datatypes of the columns.

In [4]:
sales.dtypes

sale_price        int64
year_sold         int64
year_built        int64
lot_area          int64
basement_area     int64
living_area       int64
full_bath         int64
half_bath         int64
bedroom           int64
garage_cars       int64
garage_area       int64
ac               object
zoning           object
neighborhood     object
quality          object
condition        object
dtype: object

Column `ac`, `zoning`, `neighborhood`, `quality`, and `condition` are apparent categorical variables to be encoded. This is also mentioned in the `README.ipynb` file.

### 2.2 Transform categorical variables using one hot encoding

Here, I would like to discuss how I would transform the categorical variables of this dataset, with rules specified in the `encoding` dictionary.

All the categorical features except `neighborhood` can be easily transformed. However, I decide to sort the `neighborhood` by their means. I will then transform it into an ordinal feature so that this feature can be fitted into a linear model.

In [5]:
rank_neighbor = sales[["sale_price", "neighborhood"]].groupby(['neighborhood'], as_index=False).mean()
rank_neighbor.sort_values("sale_price", inplace=True)
ordering = {
    neighbor: i for i, neighbor in enumerate(rank_neighbor["neighborhood"])
}

If there is air-conditioning (`ac` = `"Y"`), encode it as `1`; otherwise `0`.

Transform `zoning` into an ordinal variable, with `0` being the `Residential_Low_Density` , `1` being the `Residential_Medium_Density` and `2` being the `Residential_High_Density`.

Transform `neighborhood` with the numbering of that neighborhood, e.g., `nb_01` is encoded as `1` and `nb_12` is encoded as `12`.

Transform the `quality` and `condition` columns into ordinals, `poor` as `0`, `fair` as `1`, `good` as `2`, `excellent` as `3`.

In [6]:
encoding = {
    "ac": {"N": 0, "Y": 1},
    "zoning": {"Residential_Low_Density": 0, "Residential_Medium_Density": 1, "Residential_High_Density": 2},
    "neighborhood": ordering,
    "quality": {"poor": 0, "fair": 1, "average": 2, "good": 3, "excellent": 4},
    "condition": {"poor": 0, "fair": 1, "average": 2, "good": 3, "excellent": 4}
}

Transform the features as specified. I also decide to scale the `sale_price` using a log function and store it in the `log_sale_price` column so it looks more like a normal distribution.

In [7]:
sales.replace(encoding, inplace=True)
sales["log_sale_price"] = np.log(sales["sale_price"])

In [8]:
sales_test.replace(encoding, inplace=True)
y_test = sales_test["sale_price"]
log_y_test = np.log(sales_test["sale_price"])

Feature matrix X of the training data

In [9]:
X = StandardScaler().fit_transform(
    sales.loc[:, "year_sold": "condition"].drop(
        columns=["year_sold", "bedroom", "zoning"]))

Feature matrix X_test of the testing data

In [10]:
X_test = StandardScaler().fit_transform(
    sales_test.loc[:, "year_sold": "condition"].drop(
    columns=["year_sold", "bedroom", "zoning"]))

True label vector y and scaled label vector log_y of the training data

In [11]:
log_y = sales["log_sale_price"]
y = sales["sale_price"]
log_y

0       12.404924
1       12.154253
2       12.162643
3       12.373703
4       12.149502
          ...
1579    11.283512
1580    11.982929
1581    11.867097
1582    11.790557
1583    12.043554
Name: log_sale_price, Length: 1584, dtype: float64

## 3. Model Fitting and Tuning

The linear ridge regression model

In [12]:
alphas = np.linspace(0, 15, num=151)

start = time.time()
grid_search = GridSearchCV(Ridge(), param_grid={"alpha": alphas}, 
                           cv=KFold(5, True, random_state=2020), 
                           scoring="neg_root_mean_squared_error", 
                           verbose=1).fit(X, log_y)
print((time.time() - start)/ 60, "minutes")
grid_search

Fitting 5 folds for each of 151 candidates, totalling 755 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.0905914068222046 minutes

[Parallel(n_jobs=1)]: Done 755 out of 755 | elapsed:    5.4s finished

GridSearchCV(cv=KFold(n_splits=5, random_state=2020, shuffle=True),
             error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([ 0. ,  0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,
        1.1,  1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2....
        9.9, 10. , 10.1, 10.2, 10.3, 10.4, 10.5, 10.6, 10.7, 10.8, 10.9,
       11. , 11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 11.7, 11.8, 11.9, 12. ,
       12.1, 12.2, 12.3, 12.4, 12.5, 12.6, 12.7, 12.8, 12.9, 13. , 13.1,
       13.2, 13.3, 13.4, 13.5, 13.6, 13.7, 13.8, 13.9, 14. , 14.1, 14.2,
       14.3, 14.4, 14.5, 14.6, 14.7, 14.8, 14.9, 15. ])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_root_mean_squared_error', verbose=1)

In [13]:
print("Coefficients: ", grid_search.best_estimator_.coef_)
print("Intercept: ", grid_search.best_estimator_.intercept_)

Coefficients:  [ 0.06513703  0.02193923  0.06747966  0.14041092 -0.0081849   0.00571861
  0.02652812  0.02378429  0.02275476  0.07042253  0.06789671  0.0575952 ]
Intercept:  11.999189540962782

In [14]:
print("best index: ", grid_search.best_index_)
print("best param: ", grid_search.best_params_)
print("best score: ", grid_search.best_score_)

best index:  80
best param:  {'alpha': 8.0}
best score:  -0.11804585913768155

In [15]:
log_train_prediction = grid_search.best_estimator_.predict(X)
print("training log rmse", np.sqrt(mean_squared_error(log_y, log_train_prediction )))

training log rmse 0.11577913618758308

In [16]:
print("training rmse", np.sqrt(mean_squared_error(y, np.exp(log_train_prediction ))))

training rmse 21524.07547884282

In [17]:
print("log cross validation rmse", -1 * cross_val_score(grid_search.best_estimator_, X, log_y, 
                                                        cv=KFold(5, True, random_state=2020), 
                                                        scoring="neg_root_mean_squared_error"))

log cross validation rmse [0.11663094 0.11766322 0.12427285 0.1231703  0.10849199]

In [18]:
log_test_prediction = grid_search.best_estimator_.predict(X_test)
print("testing log rmse", np.sqrt(mean_squared_error(log_y_test, log_test_prediction)))

testing log rmse 0.118551094167262

In [19]:
print("testing rmse", np.sqrt(mean_squared_error(y_test, np.exp(log_test_prediction))))

testing rmse 21777.852683510395